@model Book

@{
    ViewData["Title"] = "Flight Receipt";
}

<h2>Receipt</h2>
<div style="padding: 20px 80px">

    <div>
        <h4>Receipt Details</h4>
        <dl class="row">
            <dt class="col-sm-3">Quote:</dt>
            <dd class="col-sm-9">@Model.ReceiptNumber</dd>

            <dt class="col-sm-3">Airline:</dt>
            <dd class="col-sm-9">@Model.Flight.Airline</dd>

            <dt class="col-sm-3">Departure Time:</dt>
            <dd class="col-sm-9">@Model.Flight.DepartureDate</dd>

            <dt class="col-sm-3">Arrival Time:</dt>
            <dd class="col-sm-9">@Model.Flight.ArrivalDate</dd>

            <dt class="col-sm-3">Departure:</dt>
            <dd class="col-sm-9">@Model.Flight.Departure</dd>

            <dt class="col-sm-3">Arrival:</dt>
            <dd class="col-sm-9">@Model.Flight.Arrival</dd>

            <dt class="col-sm-3">Price:</dt>
            <dd class="col-sm-9">$@Model.Flight.Price</dd>
        </dl>
    </div>

    <div>
        <h4>Guest Information</h4>
        <dl class="row">
            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.GuestEmail</dd>

            <dt class="col-sm-3">Phone:</dt>
            <dd class="col-sm-9">@Model.GuestNumber</dd>
        </dl>
    </div>

    <style>
        button.print-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 50%;
        }

            button.print-btn:hover {
                background-color: #0056b3;
            }
    </style>
    <button class="print-btn" onclick="window.print()">Print</button>
</div>