@model List<Project> //to be able to accept the list of projects
@{
    //razor block
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<a asp-controller="Project" asp-action="Create" class="btn btn-primary">Create New Project</a>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Summary</th>
                <th>Action</th> <!-- Column fro action buttons Details, edit, delete -->
            </tr>
        </thead>

        <tbody>

            @foreach (var project in Model) //as being (var project in List<Project>)
            {
                <tr>
                    <th>@project.ProjectId</th>
                    <th>@project.Name</th>
                    <th>@project.Description</th>

                    <td>
                        @await Component.InvokeAsync("ProjectSummary", new { project.ProjectId })
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                        <a asp-controller="Task" asp-action="Index" asp-route-projectId="@project.ProjectId" class="btn btn-success">View Tasks</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}
else
{
    <p>No projects available</p>
}