@model List<ManageUserRolesViewModel>
@using A1_COMP2139.Models
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Manage Roles for User";
}


<form method="post">

    <div class="card">

        <div class="card-header">
            <h2>Manage User Roles </h2> Add/Remove Roles for User / @ViewBag.UserName
        </div>

    </div>
    <div class="card-body">
        @for(int i=0; i < Model.Count; i++)
        {
            <div class="form-check">
                <input type="hidden" asp-for="@Model[i].RoleID" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                <input asp-for="@Model[i].Selected" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model[i].Selected">@Model[i].RoleName</label>

            </div>
        }

        <div asp-validation-summary="All" class="text-danger"></div>

    </div>

    <div class="card-footer">
        <input type="submit" value="Update" class="btn btn-danger" style="width:auto" />
        <a asp-action="Index" class="btn btn-primary" style="width:auto">Cancel</a>
    </div>
</form>